<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coin1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{494,496}</string>
                <key>spriteSourceSize</key>
                <string>{494,496}</string>
                <key>textureRect</key>
                <string>{{0,0},{494,496}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{494,496}</string>
                <key>spriteSourceSize</key>
                <string>{494,496}</string>
                <key>textureRect</key>
                <string>{{494,992},{494,496}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{494,496}</string>
                <key>spriteSourceSize</key>
                <string>{494,496}</string>
                <key>textureRect</key>
                <string>{{494,0},{494,496}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{494,496}</string>
                <key>spriteSourceSize</key>
                <string>{494,496}</string>
                <key>textureRect</key>
                <string>{{988,0},{494,496}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{494,496}</string>
                <key>spriteSourceSize</key>
                <string>{494,496}</string>
                <key>textureRect</key>
                <string>{{1482,0},{494,496}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{494,496}</string>
                <key>spriteSourceSize</key>
                <string>{494,496}</string>
                <key>textureRect</key>
                <string>{{0,496},{494,496}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{494,496}</string>
                <key>spriteSourceSize</key>
                <string>{494,496}</string>
                <key>textureRect</key>
                <string>{{494,496},{494,496}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{494,496}</string>
                <key>spriteSourceSize</key>
                <string>{494,496}</string>
                <key>textureRect</key>
                <string>{{988,496},{494,496}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{494,496}</string>
                <key>spriteSourceSize</key>
                <string>{494,496}</string>
                <key>textureRect</key>
                <string>{{1482,496},{494,496}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{494,496}</string>
                <key>spriteSourceSize</key>
                <string>{494,496}</string>
                <key>textureRect</key>
                <string>{{0,992},{494,496}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>coin.png</string>
            <key>size</key>
            <string>{1976,1488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a77257ffede69023784d20b782bfd1c0:37732604a8b7d825b8757f9384166fcc:6059f2e151ca252af15be5b1fdbd8cf4$</string>
            <key>textureFileName</key>
            <string>coin.png</string>
        </dict>
    </dict>
</plist>
