<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>health1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{494,443}</string>
                <key>spriteSourceSize</key>
                <string>{494,443}</string>
                <key>textureRect</key>
                <string>{{0,0},{494,443}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>health2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{494,443}</string>
                <key>spriteSourceSize</key>
                <string>{494,443}</string>
                <key>textureRect</key>
                <string>{{494,0},{494,443}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>health3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{494,443}</string>
                <key>spriteSourceSize</key>
                <string>{494,443}</string>
                <key>textureRect</key>
                <string>{{988,0},{494,443}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>health4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{494,443}</string>
                <key>spriteSourceSize</key>
                <string>{494,443}</string>
                <key>textureRect</key>
                <string>{{1482,0},{494,443}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>health5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{494,443}</string>
                <key>spriteSourceSize</key>
                <string>{494,443}</string>
                <key>textureRect</key>
                <string>{{0,443},{494,443}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>health6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{494,443}</string>
                <key>spriteSourceSize</key>
                <string>{494,443}</string>
                <key>textureRect</key>
                <string>{{494,443},{494,443}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>health7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{494,443}</string>
                <key>spriteSourceSize</key>
                <string>{494,443}</string>
                <key>textureRect</key>
                <string>{{988,443},{494,443}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>health8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{494,443}</string>
                <key>spriteSourceSize</key>
                <string>{494,443}</string>
                <key>textureRect</key>
                <string>{{1482,443},{494,443}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>health.png</string>
            <key>size</key>
            <string>{1976,886}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7c718b9fe1733bc5258f8d82e700932:b38d330ce47643d6ce759603c889e56a:4d631b2a030d7de0d6067d72860740a8$</string>
            <key>textureFileName</key>
            <string>health.png</string>
        </dict>
    </dict>
</plist>
