<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lazerTwo1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,48}</string>
                <key>spriteSourceSize</key>
                <string>{20,48}</string>
                <key>textureRect</key>
                <string>{{0,0},{20,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lazerTwo10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,48}</string>
                <key>spriteSourceSize</key>
                <string>{20,48}</string>
                <key>textureRect</key>
                <string>{{0,432},{20,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lazerTwo2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,48}</string>
                <key>spriteSourceSize</key>
                <string>{20,48}</string>
                <key>textureRect</key>
                <string>{{0,48},{20,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lazerTwo3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,48}</string>
                <key>spriteSourceSize</key>
                <string>{20,48}</string>
                <key>textureRect</key>
                <string>{{0,96},{20,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lazerTwo4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,48}</string>
                <key>spriteSourceSize</key>
                <string>{20,48}</string>
                <key>textureRect</key>
                <string>{{0,144},{20,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lazerTwo5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,48}</string>
                <key>spriteSourceSize</key>
                <string>{20,48}</string>
                <key>textureRect</key>
                <string>{{0,192},{20,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lazerTwo6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,48}</string>
                <key>spriteSourceSize</key>
                <string>{20,48}</string>
                <key>textureRect</key>
                <string>{{0,240},{20,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lazerTwo7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,48}</string>
                <key>spriteSourceSize</key>
                <string>{20,48}</string>
                <key>textureRect</key>
                <string>{{0,288},{20,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lazerTwo8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,48}</string>
                <key>spriteSourceSize</key>
                <string>{20,48}</string>
                <key>textureRect</key>
                <string>{{0,336},{20,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lazerTwo9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,48}</string>
                <key>spriteSourceSize</key>
                <string>{20,48}</string>
                <key>textureRect</key>
                <string>{{0,384},{20,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lazer.png</string>
            <key>size</key>
            <string>{20,480}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f891067939d9ad8825e1ec79c9765e3:011b9b7677c3e30681c6493618f458dd:e2f18c709942bb911e82fb4e1dd0e84c$</string>
            <key>textureFileName</key>
            <string>lazer.png</string>
        </dict>
    </dict>
</plist>
